.button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
}

.guess-result {
    animation: shake 0.5s ease-in-out;
 }

 .guess-correct {
    color: green;
 }

 .guess-incorrect {
    color: red;
 }

 

 